<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <script src="https://kit.fontawesome.com/11627b19fd.js" crossorigin="anonymous"></script>

    <link rel="icon" href="~/favicon.ico" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JDSWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/committee.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/developpers.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!--
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/img/logo_jds.png" class="rounded-circle" alt="[Home]">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="event_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Évènements
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="event_dropdown">
                                <li><a class="dropdown-item" href="#">Actualité</a></li>
                                <li><a class="dropdown-item" href="#">Archives</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="society_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                La société
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="society_dropdown">
                                <li><a class="dropdown-item" href="#">Comité</a></li>
                                <li><a class="dropdown-item" href="#">Membres</a></li>
                                <li><a class="dropdown-item" href="#">À propos</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Développeurs</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nos produits</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav hstack gap-2">
                        <li><a class="nav-link"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><div class="custom-vr"></div></li>
                        <li><a class="nav-link"><i class="fa-solid fa-user-tie"></i> Connexion</a></li>
                        <li>
                            <a class="nav-link position-relative">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span class="position-absolute top-10 translate-middle rounded-circle badge bg-danger">
                                    0
                                    <span class="visually-hidden">Panier non vide</span>
                                </span>
                                <span class="ms-2">0.00 CHF</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        -->
        <nav class="jds-navbar py-2 px-4">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo_jds.png" class="rounded-circle" alt="[Home]">
            </a>
            <div class="jds-navbar-expended">
                <ul class="navbar-nav jds-navbar-left">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="event_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Événements
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="event_dropdown">
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="ActualEvents">Actualité</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="PassedEvents">Archives</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="society_dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            La société
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="society_dropdown">
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Committee">Comité</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Members">Membres</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="About">À propos</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Developpers">Développeurs</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nos produits</a>
                    </li>
                </ul>
                <ul class="navbar-nav jds-navbar-right hstack gap-2">
                    <li><a class="nav-link"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li><div class="jds-vr"></div></li>
                    <li><a class="nav-link"><i class="fa-solid fa-user-tie"></i> Connexion</a></li>
                    <li>
                        <a class="nav-link position-relative">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span class="position-absolute top-10 translate-middle rounded-circle badge bg-danger">
                                0
                                <span class="visually-hidden">0 articles</span>
                            </span>
                            <span class="ms-2">0.00 CHF</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="jds-menu-btn" id="jds-burger">
                <div class="jds-menu-btn-burger"></div>
            </div>
        </nav>
    </header>

    <div class="jds-close-nav" id="jds-close-nav"></div>

    <div class="jds-mobile-nav" id="jds-mobile-nav">
        <div class="jds-mobile-search">
            <form class="jds-mobile-search-form">
                <input type="text" placeholder="Rechercher un événement" />
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <ul class="jds-mobile-menu">
            <li class="jds-mobile-menu-item jds-mobile-dropdown">
                <a>Événements</a>
                <ul>
                    <li class="jds-mobile-submenu-item"><a asp-controller="Home" asp-action="ActualEvents">Actualité</a></li>
                    <li class="jds-mobile-submenu-item"><a asp-controller="Home" asp-action="PassedEvents">Archives</a></li>
                </ul>
            </li>
            <li class="jds-mobile-menu-item jds-mobile-dropdown">
                <a>La société</a>
                <ul>
                    <li class="jds-mobile-submenu-item"><a asp-controller="Home" asp-action="Committee">Comité</a></li>
                    <li class="jds-mobile-submenu-item"><a asp-controller="Home" asp-action="Members">Membres</a></li>
                    <li class="jds-mobile-submenu-item"><a asp-controller="Home" asp-action="About">À propos</a></li>
                    <li class="jds-mobile-submenu-item"><a asp-controller="Home" asp-action="Developpers">Développeurs</a></li>
                </ul>
            </li>
            <li class="jds-mobile-menu-item"><a href="#">Nos produits</a></li>
            <li class="jds-mobile-menu-item"><a href="#">Connexion</a></li>
            <li class="jds-mobile-menu-item"><a href="#">Panier</a></li>
        </ul>
    </div>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
