@using JDSCommon.Database.DataContract

@{
    ViewData["Title"] = "Événements passés";
}

@model EventViewModel

<div class="text-center">
    <h1 class="my-4">Événements passés</h1>
</div>

@foreach(Event e in @Model.Events)
{
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@e.Images.FirstOrDefault()?.URL" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@e.Title</h5>
                    <p class="card-text">@e.Description</p>
                </div>
            </div>
        </div>
    </div>
}