@{
    ViewData["Title"] = "À propos de nous";
}

<section id="jds_about_content">
    <div id="jds_about_background">
        <img id="jds_about_background_logo" src="~/img/jds_logo/yellow.png" />
    </div>
    <h1 id="jds_about_title">À PROPOS DE NOUS</h1>
    <div id="jds_about_texts">
        <p class="jds_about_para" id="jds_about_left_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nisi quis sem malesuada lobortis sed id erat. Donec elementum purus at ligula gravida, efficitur blandit dolor sagittis. Morbi tempor sagittis venenatis. Aenean efficitur orci eget nisl placerat, nec hendrerit eros blandit. Sed faucibus fermentum efficitur. Suspendisse potenti. Maecenas hendrerit accumsan erat sit amet dictum.</p>
        <p class="jds_about_para" id="jds_about_right_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nisi quis sem malesuada lobortis sed id erat. Donec elementum purus at ligula gravida, efficitur blandit dolor sagittis. Morbi tempor sagittis venenatis. Aenean efficitur orci eget nisl placerat, nec hendrerit eros blandit. Sed faucibus fermentum efficitur. Suspendisse potenti. Maecenas hendrerit accumsan erat sit amet dictum.</p>
    </div>
</section>