@{
    ViewData["Title"] = "Développeurs";
    ViewData["Active"] = "society";
    ViewData["MobileActive"] = "developers";
}

<div id="jds-developers" class="container">
    <div class="text-center my-4">
        <h1>Développeurs</h1>
    </div>
    <div class="my-4 jds-hearc-container">
        Projet réalisé dans le cadre de la HES d'été 2022.<br />
        Copyright &copy; 2022 HE-ARC<br />

        <img src="~/img/he-arc.png" alt="[HE-Arc]" />
    </div>
    <hr />
    <div class="d-flex flex-wrap justify-content-around mt-5">
        <div class="jds-dev-box jds-mobile-hover">
            <div class="jds-dev-content">
                <img src="~/img/developers/nicolas_aubert.jpg" alt="[Nicolas Aubert]" />
                <h2>
                    Nicolas Aubert<br />
                    <span>ISC2il-b</span>
                </h2>
                <a href="mailto:nicolas.aubert@he-arc.ch">Mail</a>
            </div>
        </div>
        <div class="jds-dev-box jds-mobile-hover">
            <div class="jds-dev-content">
                <img src="~/img/developers/vincent_jeannin.jpg" alt="[Vincent Jeannin]" />
                <h2>
                    Vincent Jeannin<br />
                    <span>ISC2il-b</span>
                </h2>
                <a href="mailto:vincent.jeannin@he-arc.ch">Mail</a>
            </div>
        </div>
        <div class="jds-dev-box jds-mobile-hover">
            <div class="jds-dev-content">
                <img src="~/img/developers/theo_vuilliomenet.jpg" alt="[Théo Vuilliomenet]" />
                <h2>
                    Théo Vuilliomenet<br />
                    <span>ISC2il-b</span>
                </h2>
                <a href="mailto:theo.vuilliomenet@he-arc.ch">Mail</a>
            </div>
        </div>
    </div>
</div>