#jds-create-event-container {
    top: 0;
    padding: 20px;
    margin: 0 auto;
    max-width: 50%;
    z-index: -10;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.jds-create-event {
    color: black;
}

.jds-create-event-flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jds-strut-30 {
    width: 30px;
}

@media screen and (max-width:900px) {
    .jds-create-event {
        width: 95%;
    }
}

@media screen and (max-width:850px) {
    #jds-create-event-container {
        max-width: 95%;
    }
}
