#team {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dev-card {
    width: 100%;
    position: relative; 
}

section {
    padding: 0 !important;  
}

.dev-info-collapsed {
    display: none;
}

.dev-image {
    transition-duration: 0.8s;
    transition-property: transform;
    width: 25vw;
    height: 25vw;
    background: linear-gradient(var(--saffron), var(--au-chico));
    
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 auto;
}

.dev-image img {
    display: block;
    width: 80%;
    height: 80%;
    /* Center the image */
    margin: auto;
    /* Transformation infos */
    transition-duration: 0.8s;
    transition-property: transform;
}

.dev-info {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
}

.dev-card:hover .dev-image img {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.dev-card:hover .dev-info {
    display: block;
}

.dev-card:hover .dev-image {
    -webkit-transform: translate(0,8em);
    -moz-transform: translate(0,8em);
    -o-transform: translate(0,8em);
    -ms-transform: translate(0,8em);
    transform: translate(0,8em);
}

.dev-info {
    background-color: var(--snow-drift);
    position: absolute;
    top: 0;
    z-index: -1;
}

.dev-info-collapsed {
    display: block;
    width: 100%;
    position: fixed;
    left: -100%;
    transition-duration: 0.8s !important;
    transition-property: transform !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dev-info p {
    padding-bottom: 50px;
}

@media screen and (max-width: 990px) {
    .dev-image {
        width: 20vw;
        height: 20vw;
    }
}

@media screen and (max-width: 600px) {
    /* Remove every animations */
    #team * {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }

    #team {
        margin-top: 5em;
    }

    .dev-info-collapsed * {
        background-color: var(--snow-drift);
        transition-duration: 0.8s !important;
        transition-property: transform !important;
    }

    .dev-image {
        width: 15vw;
        height: 15vw;
    }

    .dev-card:hover .dev-image {
        margin-bottom: 0;
    }

    .collapsed-active .dev-image {
        transform: scale(2) !important;
    }

    .dev-info {
        display: none !important;
    }

    .dev-info-collasped-active {
        transform: translate(100%, 0);
    }
}
