/* Navbar Brand */
.navbar-brand img {
    width: 50px;
    height: 50px;
}

/* Navbar Expended */

.jds-navbar {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

    .jds-navbar a {
        color: var(--san-juan) !important;
        text-transform: uppercase;
    }

    .jds-navbar .jds-navbar-expended .jds-navbar-left .nav-item {
        margin: 0 30px;
    }

    .jds-navbar .jds-navbar-expended .jds-navbar-right li {
        margin: 0 5px;
    }

    .jds-navbar .jds-navbar-expended {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

        .jds-navbar .jds-navbar-expended ul {
            flex-direction: row;
        }

    /* Collapse specification */

    .jds-navbar .jds-burger {
        display: none;
        position: absolute;
        right: 50px;
    }

@media screen and (max-width: 990px) {
    .jds-navbar .jds-burger {
        display: block;
    }

    .jds-navbar .jds-navbar-expended {
        display: none;
    }

    .jds-menu-btn {
        position: absolute;
        right: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .jds-menu-btn-burger {
        width: 20px;
        height: 4px;
        background: var(--san-juan);
        border-radius: 5px;
        /*box-shadow: 0 2px 5px rgba(255,101,47,.2);*/
        transition: all .5s ease-in-out;
    }

        .jds-menu-btn-burger::before,
        .jds-menu-btn-burger::after {
            content: '';
            position: absolute;
            height: 4px;
            background: var(--san-juan);
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(255,101,47,.2);
            transition: all .5s ease-in-out;
        }

        .jds-menu-btn-burger::before {
            width: 40px;
            transform: translateY(-12px);
        }

        .jds-menu-btn-burger::after {
            width: 30px;
            transform: translateY(12px);
        }

    /* ANIMATION */

    .jds-menu-btn.open .jds-menu-btn-burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

        .jds-menu-btn.open .jds-menu-btn-burger::before {
            transform: rotate(45deg) translate(35px, -35px);
        }

        .jds-menu-btn.open .jds-menu-btn-burger::after {
            width: 40px;
            transform: rotate(-45deg) translate(35px, 35px);
        }
}

/* Close Nav */

.jds-close-nav {
    background-color: green;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.7);
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1), visibility 0s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

@media screen and (max-width: 990px) {
    .jds-close-nav {
        top: -150px;
        height: calc(100vh + 300px);
    }
}

.jds-close-nav-opened {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s ease, visibility 0s ease;
}

/* Mobile Nav */

.jds-mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: var(--san-juan);
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 990px) {
    .jds-mobile-nav {
        width: 300px;
        z-index: 99999;
    }
}

.jds-mobile-nav.jds-mobile-nav-opened {
    transform: none;
}

/* Mobile Nav Menu */

.jds-mobile-menu,
.jds-mobile-menu ul {
    padding-left: 0px;
}

    .jds-mobile-menu a {
        text-decoration: none;
    }

        .jds-mobile-menu a:not(.jds-mobile-menu-active) {
            text-decoration: none;
            color: var(--snow-drift) !important;
        }

    .jds-mobile-menu > .jds-mobile-menu-item > a {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
    }

    .jds-mobile-menu div,
    .jds-mobile-menu li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
    }

        .jds-mobile-menu li a {
            display: flex;
            align-items: center;
            padding-left: 20px;
            border-bottom: 1px solid grey;
        }

            .jds-mobile-menu li a::before {
                content: '\276F';
                padding: 0 5px;
            }

    .jds-mobile-menu .jds-mobile-dropdown > a::before {
        transform: rotate(90deg);
        padding: 0 10px;
    }

.jds-mobile-submenu-item a {
    padding-left: 45px !important;
}

.jds-mobile-submenu-item,
.jds-mobile-menu-item a {
    height: 50px;
    color: var(--snow-drift);
}

    .jds-mobile-menu-item:not(.jds-mobile-dropdown) a:hover,
    .jds-mobile-submenu-item a:hover,
    .jds-mobile-menu-active {
        color: var(--saffron) !important;
        transform: translateX(3px);
    }

/* Mobile Search */

.jds-mobile-nav .jds-mobile-search {
    margin-bottom: 5px;
}

    .jds-mobile-nav .jds-mobile-search .jds-mobile-search-form {
        width: 100%;
    }

.jds-mobile-search .jds-mobile-search-form input[type=text] {
    width: 100%;
    height: 70px;
    padding-left: 20px;
    padding-right: 50px;
    vertical-align: top;
    box-shadow: 0 -1px 9px rgba(0,0,0,0.17);
}

    .jds-mobile-search .jds-mobile-search-form input[type=text]:focus {
        outline: none;
    }

.jds-mobile-search .jds-mobile-search-form button[type=submit] {
    height: 70px;
    width: 50px;
    background-color: transparent;
    border: none;
    display: inline-block;
    margin-left: -50px;
    color: grey;
}
