@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
    --white-mode-bg: #F1F5F0;
    --havelock-blue: #6989E9;
    --saffron: #F7C740;
    --au-chico: #9E5466;
    --san-juan: #305778;
}

/* Font */

@font-face {
    font-family: jds-font;
    src: url(~/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: jds-font;
    src: url(~/font/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}

/* Global */

* {
    font-family: 'Poppins';
}

/* Vertical Bar */

.jds-vr {
    width: 1px;
    min-height: 2em;
    background-color: currentColor;
    opacity: .25;
}

/* Springs */

.jds-hspring {
    flex-grow: 1;
    background-color: blue;
}