#jds-update-event-container {
    top: 0;
    padding: 20px;
    margin: 0 auto;
    max-width: 50%;
    z-index: -10;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

    #jds-update-event-container img {
        object-fit: cover;
    }

#jds-cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

    #jds-cardContainer img {
        height: 300px;
        object-fit: cover;
    }

    #jds-cardContainer .card {
        max-width: 400px;
        min-width: 300px;
    }

.jds-hiddenfile {
    width: 0px;
    height: 0px;
    overflow: hidden;
}