@{
    ViewData["Title"] = "Mot-de-passe oublié - Code de réinitialisation";
}

<h1 class="text-center mt-4">@ViewData["Title"]</h1>

@if (Model.Error)
{
	<div class="container my-4">
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			Le code saisi ne correspond pas, veuillez réessayer.
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	</div>
}

<main id="jds-usercreate-main">
	<div class="p-4">
		<h3>Un code vous a été envoyé, veuillez le saisir dans le champ si ci-dessous : </h3>
		<form class="row g-3" enctype="multipart/form-data" method="post" asp-controller="User" asp-action="ValidateResetPasswordCode">
			<div class="col-6">
				<label for="code" class="form-label">Code de réinitialisation</label>
				<input class="form-control" type="text" id="code" name="code" required />
			</div>

			<button type="submit" class="jds-button jds-primary">
				<span class="left"></span>
				<span class="top"></span>
				<span class="right"></span>
				<span class="bottom"></span>
				Continuer
			</button>
		</form>
	</div>
</main>