@{
    ViewData["Title"] = "Mot-de-passe oublié";
}

<h1 class="text-center mt-4">@ViewData["Title"]</h1>

<main id="jds-usercreate-main">
	<div class="p-4">
		<form class="row g-3" enctype="multipart/form-data" method="post" asp-controller="User" asp-action="ResetPassword">
			<div class="col-6">
				<label for="email" class="form-label">Email</label>
				<input class="form-control" type="email" id="email" name="email" required />
			</div>

			<button type="submit" class="jds-button jds-primary">
				<span class="left"></span>
				<span class="top"></span>
				<span class="right"></span>
				<span class="bottom"></span>
				Réinitialiser le mot-de-passe
			</button>
		</form>
	</div>
</main>