@{
    ViewData["Title"] = "Mot-de-passe oublié";
}

<h1 class="text-center mt-4">@ViewData["Title"]</h1>

@if (Model.Error)
{
	<div class="container my-4">
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			Cette adresse Email n'est pas valide, veuillez réessayer.
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	</div>
}

<main id="jds-usercreate-main">
	<div class="p-4">
		<h3>Veuillez saisir votre adresse Email</h3>
		<form class="row g-3" enctype="multipart/form-data" method="post" asp-controller="User" asp-action="ForgottenPasswordSendCode">
			<div class="col-6">
				<label for="email" class="form-label">Email</label>
				<input class="form-control" type="email" id="email" name="email" required />
			</div>

			<button type="submit" class="jds-button jds-primary">
				<span class="left"></span>
				<span class="top"></span>
				<span class="right"></span>
				<span class="bottom"></span>
				Réinitialiser le mot-de-passe
			</button>
		</form>
	</div>
</main>