@{
    ViewData["Title"] = "Connexion";
    ViewData["Active"] = "login";
    ViewData["MobileActive"] = "login";
}

@model UserViewModel

@if (Model.Error)
{
    <div class="container my-4">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Nom d'utilisateur ou mot de passe incorrect
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}
<div id="jds_login" class="d-flex flex-column justify-content-center align-items-center">
    <div class="jds-login-card row d-flex">
        <div class="col-6">
            <div class="row">
                <img class="img-fluid" src="~/img/jds_logo/yellow.png" alt="[Logo JDS]" />
            </div>
        </div>
        <div class="col p-4">
            <form class="jds-login-form needs-validation" method="post" asp-controller="User" asp-action="ParseLogin" novalidate>
                <h1>Bienvenue</h1>
                <div class="jds-group-box @(Model.Error ? "jds-login-error" : "")">
                    <input type="text" name="username" value="@Model.Username" required />
                    <span>Nom d&rsquo;Utilisateur</span>
                    <div class="invalid-feedback">
                        Champ requis
                    </div>
                </div>
                <div class="jds-group-box @(Model.Error ? "jds-login-error" : "")">
                    <input type="password" name="password" required />
                    <span>Mot de passe</span>
                    <div class="invalid-feedback">
                        Champ requis
                    </div>
                </div>
                <a href="#">Mot de passe oubli&eacute; ?</a>
                <button type="submit" class="jds-button jds-primary">
                    <span class="left"></span>
                    <span class="top"></span>
                    <span class="right"></span>
                    <span class="bottom"></span>
                    Connexion
                </button>
            </form>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        (function () {
            'use strict'

            var forms = document.querySelectorAll('.needs-validation')

            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
    }