@{
    ViewData["Title"] = "Connexion";
    ViewData["Active"] = "login";
    ViewData["MobileActive"] = "login";
}

@model UserViewModel

<div id="jds_login" class="d-flex justify-content-center align-items-center">
    <div class="jds-login-card d-flex">
        <div class="col-6">
            <div class="row">
                <img class="img-fluid" src="~/img/jds_logo/yellow.png" alt="[Logo JDS]" />
            </div>
        </div>
        <div class="col p-4">
            <form class="jds-login-form needs-validation" method="post" asp-controller="User" asp-action="ParseLogin">
                <h1>Bienvenue</h1>
                <div class="jds-group-box">
                    <input type="text" name="username" value="@Model.Username" required />
                    <span>Nom d&rsquo;Utilisateur</span>
                </div>
                <div class="jds-group-box">
                    <input type="password" name="password" required />
                    <span>Mot de passe</span>
                </div>
                <a href="#">Mot de passe oubli&eacute; ?</a>
                <button type="submit" class="jds-button jds-primary">
                    <span class="left"></span>
                    <span class="top"></span>
                    <span class="right"></span>
                    <span class="bottom"></span>
                    Connexion
                </button>
            </form>
        </div>
    </div>
</div>
