@{
	ViewData["Title"] = "Réinitialisation du mot-de-passe";
}

<h1 class="text-center mt-4">@ViewData["Title"]</h1>

<main id="jds-usercreate-main">
	<div class="p-4">
		<h3>Veuillez saisir votre nouveau de mot-de-passe</h3>
		<form class="row g-3" enctype="multipart/form-data" method="post" asp-controller="User" asp-action="ParseNewPassword">
			<div class="col-6">
				<label for="newPassword" class="form-label">Mot-de-passe</label>
				<input class="form-control" type="password" id="newPassword" name="newPassword" required />
			</div>

			<button type="submit" class="jds-button jds-primary">
				<span class="left"></span>
				<span class="top"></span>
				<span class="right"></span>
				<span class="bottom"></span>
				Réinitialiser le mot-de-passe
			</button>
		</form>
	</div>
</main>