@{
    ViewData["Title"] = "Mot de passe oublié";
}

@model UserViewModel

<div id="jds-user-form-container">
    <h1 class="mb-4">Réinitialisation du mot de passe</h1>

    @if (Model.Error)
    {
        <div class="container my-4">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Code incorrect.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }

    <form class="row g-3 needs-validation" method="post" asp-controller="User" asp-action="ParseCode" novalidate>
        <div class="col-md-12">
            <label class="form-label">Un code de réinitialisation vous a été envoyé par email.</label>
        </div>
        <div class="col-md-12">
            <label for="code" class="form-label">Code de réinitialisation</label>
            <input type="text" class="form-control" id="code" name="code" required>
            <div class="invalid-feedback">
                Champ requis.
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-primary">
                Vérifier
                <i class="fa-solid fa-angles-right ms-1"></i>
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        (function () {
            'use strict'

            var forms = document.querySelectorAll('.needs-validation')

            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
}