@using JDSCommon.Database.DataContract
@{
    ViewData["Title"] = "Profil";
    ViewData["Active"] = "user";
    ViewData["MobileActive"] = "profil";
}

@model UserViewModel


<div id="jds-user-form-container">
    <h1 class="mb-4">Modification du mot de passe</h1>

    @if (Model.Error)
    {
        <div class="container my-4">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Les mots de passe ne correspondent pas.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }

    <form class="row g-3 needs-validation" method="post" asp-controller="User" asp-action="ParseUpdatePassword" novalidate>
        <input type="hidden" name="id" value="@Model.User.Id" />
        <div class="col-md-6">
            <label for="passwordOne" class="form-label">Nouveau Mot de passe</label>
            <input type="password" class="form-control" id="passwordOne" name="passwordOne" required>
            <div class="invalid-feedback">
                Champ requis.
            </div>
        </div>
        <div class="col-md-6">
            <label for="passwordTwo" class="form-label">Répéter</label>
            <input type="password" class="form-control" id="passwordTwo" name="passwordTwo" required>
            <div class="invalid-feedback">
                Champ requis.
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-success">
                <i class="fa-solid fa-check me-1"></i>
                Modifier
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        (function () {
            'use strict'

            var forms = document.querySelectorAll('.needs-validation')

            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
}
