@{
    ViewData["Title"] = "Panier";
    ViewData["Active"] = "shop";
    ViewData["MobileActive"] = "shop";
}

<nav aria-label="Navigation Panier">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">@ShopViewModel.Overview</a></li>
        <li class="page-item"><a class="page-link" href="#">@ShopViewModel.Contact</a></li>
        <li class="page-item"><a class="page-link" href="#">@ShopViewModel.Confirmation</a></li>
    </ul>
</nav>