<div id="jds-confirmation" class="container">
    <h1>Merci !</h1>

    <p>Votre commande va être traîtée dans les meilleurs délais.</p>
    <p>Vous avez reçu un mail contenant le récapitulatif, gardez-le précieusement.</p>
</div>