@{
    ViewData["Title"] = "Événements actuels";
}

<div class="text-center">
    <h1 class="my-4">Événements actuels</h1>
</div>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/party_example.jpg" class="d-block w-100" alt="test">
            <div class="carousel-caption d-none d-md-block">
                <h2>Événement 1 - 20.07.2022</h2>
                <h5>Quelques informations sur l'événement...</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/party_example2.jpg" class="d-block w-100" alt="test">
            <div class="carousel-caption d-none d-md-block">
                <h2>Événement 2 - 02.11.2022</h2>
                <h5>Quelques informations sur l'événement...</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/party_example.jpg" class="d-block w-100" alt="test">
            <div class="carousel-caption d-none d-md-block">
                <h2>Événement 3 - 01.02.2023</h2>
                <h5>Quelques informations sur l'événement...</h5>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
