@{
	ViewData["Title"] = "Développeurs";
}

<div class="text-center">
	<h1 class="my-4">Développeurs</h1>
</div>

<section id="team" class="pb-5">
	<!-- Team member -->
	<div class="dev-card">
		<div class="dev-image">
			<img src="~/img/pp_example.png" />
		</div>
		<div class="dev-info">
			<div class="card">
				<div class="card-body text-center mt-4">
					<h4 class="card-title">Jeannin Vincent</h4>
					<p class="card-text">Blabla blabla</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ./Team member -->
	<!-- Team member -->	
	<div class="dev-card">
		<div class="dev-image">
			<img src="~/img/pp_example.png" />
		</div>
		<div class="dev-info">
			<div class="card">
				<div class="card-body text-center mt-4">
					<h4 class="card-title">Vuilliomenent Théo</h4>
					<p class="card-text">Blabla blabla</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ./Team member -->
	<!-- Team member -->
	<div class="dev-card">
		<div class="dev-image">
			<img src="~/img/pp_example.png" />
		</div>
		<div class="dev-info">
			<div class="card">
				<div class="card-body text-center mt-4">
					<h4 class="card-title">Aubert Nicolas</h4>
					<p class="card-text">Blabla blabla</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ./Team member -->
</section>
