@{
	ViewData["Title"] = "Développeurs";
}

<div class="text-center">
	<h1 class="my-4">Développeurs</h1>
</div>

<section id="team" class="pb-5">
	<!-- Team member -->
	<div class="dev-card" data-dev_name="vincent">
		<div class="dev-image">
			<img src="~/img/pp_example.png" />
		</div>
		<div class="dev-info">
			<div class="card">
				<div class="card-body text-center mt-4">
					<h4 class="card-title">Jeannin Vincent</h4>
					<p class="card-text">Blabla blabla</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ./Team member -->
	<!-- Team member -->
	<div class="dev-card collasped-active" data-dev_name="theo">
		<div class="dev-image">
			<img src="~/img/pp_example.png" />
		</div>
		<div class="dev-info">
			<div class="card">
				<div class="card-body text-center mt-4">
					<h4 class="card-title">Vuilliomenent Théo</h4>
					<p class="card-text">Blabla blabla</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ./Team member -->
	<!-- Team member -->
	<div class="dev-card" data-dev_name="nicolas">
		<div class="dev-image">
			<img src="~/img/pp_example.png" />
		</div>
		<div class="dev-info">
			<div class="card">
				<div class="card-body text-center mt-4">
					<h4 class="card-title">Aubert Nicolas</h4>
					<p class="card-text">Blabla blabla</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ./Team member -->
</section>

<section id="section-info-collasped">
	<div class="dev-info-collapsed" data-dev_name="vincent">
		<div class="card">
			<div class="card-body text-center mt-4">
				<h4 class="card-title">Jeannin Vincent</h4>
				<p class="card-text">Blabla blabla</p>
			</div>
		</div>
	</div>

	<div class="dev-info-collapsed dev-info-collasped-active" data-dev_name="theo">
		<div class="card">
			<div class="card-body text-center mt-4">
				<h4 class="card-title">Vuilliomenet Théo</h4>
				<p class="card-text">Blabla blabla</p>
			</div>
		</div>
	</div>

	<div class="dev-info-collapsed" data-dev_name="nicolas">
		<div class="card" >
			<div class="card-body text-center mt-4">
				<h4 class="card-title">Aubert Nicolas</h4>
				<p class="card-text">Blabla blabla</p>
			</div>
		</div>
	</div>	
</section>
